make-a-wish-salesforce/src/flows/Age_At_Referral_Calculator.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Iterator_to_10</name>
        <label>Iterator to 10</label>
        <locationX>1722</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>numYears</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Child_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterator_to_11</name>
        <label>Iterator to 11</label>
        <locationX>1578</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>numYears</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_child_11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterator_to_12</name>
        <label>Iterator to 12</label>
        <locationX>1470</locationX>
        <locationY>59</locationY>
        <assignmentItems>
            <assignToReference>numYears</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_child_12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterator_to_13</name>
        <label>Iterator to 13</label>
        <locationX>1338</locationX>
        <locationY>64</locationY>
        <assignmentItems>
            <assignToReference>numYears</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Child_13</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterator_to_14</name>
        <label>Iterator to 14</label>
        <locationX>1227</locationX>
        <locationY>63</locationY>
        <assignmentItems>
            <assignToReference>numYears</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Child_14</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterator_to_151</name>
        <label>Iterator to 15</label>
        <locationX>1099</locationX>
        <locationY>59</locationY>
        <assignmentItems>
            <assignToReference>numYears</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Child_15</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterator_to_16</name>
        <label>Iterator to 16</label>
        <locationX>970</locationX>
        <locationY>63</locationY>
        <assignmentItems>
            <assignToReference>numYears</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Child_16</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterator_to_3</name>
        <label>Iterator to 3</label>
        <locationX>2443</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>numYears</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_child_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterator_to_4</name>
        <label>Iterator to 4</label>
        <locationX>2358</locationX>
        <locationY>61</locationY>
        <assignmentItems>
            <assignToReference>numYears</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_child_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterator_to_5</name>
        <label>Iterator to 5</label>
        <locationX>2266</locationX>
        <locationY>61</locationY>
        <assignmentItems>
            <assignToReference>numYears</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_child_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterator_to_6</name>
        <label>Iterator to 6</label>
        <locationX>2170</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>numYears</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_child_6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterator_to_7</name>
        <label>Iterator to 7</label>
        <locationX>2062</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>numYears</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_child_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterator_to_8</name>
        <label>Iterator to 8</label>
        <locationX>1962</locationX>
        <locationY>58</locationY>
        <assignmentItems>
            <assignToReference>numYears</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_child_8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Iterator_to_9</name>
        <label>Iterator to 9</label>
        <locationX>1840</locationX>
        <locationY>62</locationY>
        <assignmentItems>
            <assignToReference>numYears</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_child_9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Age_At_Referral_Over_18</name>
        <label>Set Age At Referral Over 18</label>
        <locationX>616</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>Wish_Kid_Lead.Child_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>18 &amp; Above</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wish_Kid_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Age_At_Referral_to_2_5</name>
        <label>Set Age At Referral to 2.5</label>
        <locationX>2662</locationX>
        <locationY>584</locationY>
        <assignmentItems>
            <assignToReference>Wish_Kid_Lead.Child_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2.5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wish_Kid_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Age At Referral value to Under 2.5</description>
        <name>Set_Age_At_Referral_Under_2_5</name>
        <label>Set Age At Referral Under 2.5</label>
        <locationX>419</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>Wish_Kid_Lead.Child_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Under 2.5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wish_Kid_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_age_to_10</name>
        <label>Set age to 10</label>
        <locationX>1788</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>Wish_Kid_Lead.Child_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wish_Kid_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_age_to_11</name>
        <label>Set age to 11</label>
        <locationX>1667</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>Wish_Kid_Lead.Child_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>11</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wish_Kid_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_age_to_12</name>
        <label>Set age to 12</label>
        <locationX>1532</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>Wish_Kid_Lead.Child_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>12</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wish_Kid_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Age_to_13</name>
        <label>Set age to 13</label>
        <locationX>1417</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>Wish_Kid_Lead.Child_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>13</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wish_Kid_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_age_to_14</name>
        <label>Set age to 14</label>
        <locationX>1287</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>Wish_Kid_Lead.Child_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>14</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wish_Kid_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Age_to_15</name>
        <label>Set Age to 15</label>
        <locationX>1164</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>Wish_Kid_Lead.Child_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>15</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wish_Kid_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_age_to_16</name>
        <label>Set age to 16</label>
        <locationX>1053</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>Wish_Kid_Lead.Child_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>16</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wish_Kid_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_age_to_17</name>
        <label>Set age to 17</label>
        <locationX>903</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>Wish_Kid_Lead.Child_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>17</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wish_Kid_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_age_to_3</name>
        <label>Set age to 3</label>
        <locationX>2491</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>Wish_Kid_Lead.Child_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wish_Kid_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_age_to_4</name>
        <label>Set age to 4</label>
        <locationX>2399</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>Wish_Kid_Lead.Child_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wish_Kid_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_age_to_5</name>
        <label>Set age to 5</label>
        <locationX>2302</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>Wish_Kid_Lead.Child_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wish_Kid_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_age_to_6</name>
        <label>Set age to 6</label>
        <locationX>2204</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>Wish_Kid_Lead.Child_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wish_Kid_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_age_to_7</name>
        <label>Set age to 7</label>
        <locationX>2112</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>Wish_Kid_Lead.Child_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>7</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wish_Kid_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_age_to_8</name>
        <label>Set age to 8</label>
        <locationX>2005</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>Wish_Kid_Lead.Child_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>8</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wish_Kid_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_age_to_9</name>
        <label>Set age to 9</label>
        <locationX>1914</locationX>
        <locationY>385</locationY>
        <assignmentItems>
            <assignToReference>Wish_Kid_Lead.Child_Age__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>9</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Wish_Kid_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the numYears variable to 17 to start testing each age in succession.</description>
        <name>Set_Iterator</name>
        <label>Set Iterator</label>
        <locationX>770</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>numYears</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>17.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_child_numYears_old</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Initializes all of the variables that will hold values retrieved by the Get Records element.</description>
        <name>Set_Starting_Values</name>
        <label>Set Variables from Lead</label>
        <locationX>297</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>leadCreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Wish_Kid_Lead.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dateOfBirth</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Wish_Kid_Lead.DOB__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ageAtReferral</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Wish_Kid_Lead.Child_Age__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Child_Under_2_5</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Child_10</name>
        <label>Is Child 10</label>
        <locationX>1770</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>Iterator_to_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>childIs10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysSinceBorn</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NumberDaysInVariableYears</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_age_to_10</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_child_11</name>
        <label>Is child 11?</label>
        <locationX>1654</locationX>
        <locationY>221</locationY>
        <defaultConnector>
            <targetReference>Iterator_to_10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>childIs11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysSinceBorn</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NumberDaysInVariableYears</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_age_to_11</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_child_12</name>
        <label>Is child 12?</label>
        <locationX>1516</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>Iterator_to_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>childIs12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysSinceBorn</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NumberDaysInVariableYears</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_age_to_12</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Child_13</name>
        <label>Is Child 13?</label>
        <locationX>1401</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>Iterator_to_12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>childIs13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysSinceBorn</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NumberDaysInVariableYears</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Age_to_13</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Child_14</name>
        <label>Is Child 14?</label>
        <locationX>1282</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>Iterator_to_13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>childIs14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysSinceBorn</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NumberDaysInVariableYears</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_age_to_14</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Child_15</name>
        <label>Is Child 15?</label>
        <locationX>1155</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>Iterator_to_14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ChildIs15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysSinceBorn</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NumberDaysInVariableYears</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Age_to_15</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Child_16</name>
        <label>Is Child 16?</label>
        <locationX>1037</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>Iterator_to_151</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ChildIs16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysSinceBorn</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NumberDaysInVariableYears</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_age_to_16</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_child_3</name>
        <label>Is child 3?</label>
        <locationX>2526</locationX>
        <locationY>200</locationY>
        <defaultConnector>
            <targetReference>Set_Age_At_Referral_to_2_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>childIs3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysSinceBorn</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NumberDaysInVariableYears</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_age_to_3</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_child_4</name>
        <label>Is child 4?</label>
        <locationX>2389</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>Iterator_to_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>childIs4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysSinceBorn</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NumberDaysInVariableYears</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_age_to_4</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_child_5</name>
        <label>Is child 5?</label>
        <locationX>2294</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>Iterator_to_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>childIs5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysSinceBorn</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NumberDaysInVariableYears</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_age_to_5</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_child_6</name>
        <label>Is child 6?</label>
        <locationX>2206</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>Iterator_to_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>childIs6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysSinceBorn</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NumberDaysInVariableYears</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_age_to_6</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_child_7</name>
        <label>Is child 7?</label>
        <locationX>2097</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>Iterator_to_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>childIs7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysSinceBorn</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NumberDaysInVariableYears</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_age_to_7</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_child_8</name>
        <label>Is child 8?</label>
        <locationX>1999</locationX>
        <locationY>219</locationY>
        <defaultConnector>
            <targetReference>Iterator_to_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>childIs8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysSinceBorn</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NumberDaysInVariableYears</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_age_to_8</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_child_9</name>
        <label>Is child 9?</label>
        <locationX>1903</locationX>
        <locationY>213</locationY>
        <defaultConnector>
            <targetReference>Iterator_to_8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>childIs9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysSinceBorn</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NumberDaysInVariableYears</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_age_to_9</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_child_numYears_old</name>
        <label>Is child 17?</label>
        <locationX>898</locationX>
        <locationY>230</locationY>
        <defaultConnector>
            <targetReference>Iterator_to_16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ChildIs17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysSinceBorn</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NumberDaysInVariableYears</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_age_to_17</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Child_Over_18</name>
        <label>Is Child Over 18</label>
        <locationX>597</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>Set_Iterator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Over_18</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysSinceBorn</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>daysToAge18</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Age_At_Referral_Over_18</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Tests to see if the child is old enough to qualify.</description>
        <name>Is_Child_Under_2_5</name>
        <label>Is Child Under 2.5?</label>
        <locationX>447</locationX>
        <locationY>231</locationY>
        <defaultConnector>
            <targetReference>Is_Child_Over_18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ChildUnderTwoAndAHalf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>daysToAge2AndAHalf</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>daysSinceBorn</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Age_At_Referral_Under_2_5</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <description>The number of days that passed between the child&apos;s date of birth and the referral/created date.</description>
        <name>daysSinceBorn</name>
        <dataType>Number</dataType>
        <expression>{!leadCreatedDate} - {!dateOfBirth}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Calculated number of days between when the child was born and will turn 18. Can vary depending upon the number of leap days in between.</description>
        <name>daysToAge18</name>
        <dataType>Number</dataType>
        <expression>addMonths({!dateOfBirth}, 18*12) - {!dateOfBirth}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Calculates the number of days from the time the child was born and when he/she would have turned 2.5 years old.</description>
        <name>daysToAge2AndAHalf</name>
        <dataType>Number</dataType>
        <expression>addMonths({!dateOfBirth}, 30) - {!dateOfBirth}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NumberDaysInVariableYears</name>
        <dataType>Number</dataType>
        <expression>addMonths({!dateOfBirth}, {!numYears}*12) - {!dateOfBirth}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Age At Referral Calculator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Age At Referral Calculator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>To retrieve the record sent to us to launch the Flow</description>
        <name>Wish_Kid_Lead</name>
        <label>Wish Kid Lead</label>
        <locationX>175</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Starting_Values</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>wishKidID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DOB__c</queriedFields>
        <queriedFields>Child_Age__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Wish_Kid_Record</name>
        <label>Update Wish Kid Record</label>
        <locationX>1452</locationX>
        <locationY>729</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Wish_Kid_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Child_Age__c</field>
            <value>
                <elementReference>Wish_Kid_Lead.Child_Age__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>48</locationX>
        <locationY>229</locationY>
        <connector>
            <targetReference>Wish_Kid_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ageAtReferral</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ageFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>To hold the Leads DOB value.</description>
        <name>dateOfBirth</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The date that the Lead was created is the date of the Referral.</description>
        <name>leadCreatedDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numYears</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>The ID of the Lead representing the Wish Kid in question.</description>
        <name>wishKidID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
