make-a-wish-salesforce/src/flows/Clone_Lead_Email_to_Lead.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Copy_Task</name>
        <label>Copy Task</label>
        <locationX>179</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>ClonedTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Cloned_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Cloned_Task</name>
        <label>Update Cloned Task</label>
        <locationX>178</locationX>
        <locationY>683</locationY>
        <assignmentItems>
            <assignToReference>ClonedTask.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Related_Referral__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cloned_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Lead_and_Email_Recipient_Match</name>
        <label>Lead and Email Recipient Match?</label>
        <locationX>172</locationX>
        <locationY>415</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MatchingWhoID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Task</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>MatchingWhoID</name>
        <dataType>Boolean</dataType>
        <expression>LEFT({!Get_Task.WhoId}, 15) = LEFT({!$Record.Related_Referral__c}, 15)</expression>
    </formulas>
    <interviewLabel>Clone Lead Email to Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Lead Email to Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cloned_Task</name>
        <label>Create Cloned Task</label>
        <locationX>179</locationX>
        <locationY>812</locationY>
        <inputReference>ClonedTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>175</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_and_Email_Recipient_Match</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ActivityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
        <filters>
            <field>Related_Referral__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ClonedTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
