make-a-wish-salesforce/src/flows/Copy_Phone_Email_for_MP_Duplicate_Check.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Standard_Email_Field</name>
        <label>Update Standard Email FIeld</label>
        <locationX>421</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npe01__WorkEmail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Standard_Phone_Field</name>
        <label>Update Standard Phone Field</label>
        <locationX>415</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npe01__WorkPhone__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Copy_Email</name>
        <label>Copy Email</label>
        <locationX>167</locationX>
        <locationY>303</locationY>
        <defaultConnector>
            <targetReference>Copy_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__WorkEmail__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Standard_Email_Field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_Phone</name>
        <label>Copy Phone</label>
        <locationX>163</locationX>
        <locationY>517</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__WorkPhone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Standard_Phone_Field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>&apos;Before Save&apos; flow that updates Standard Phone and Email Fields prior to first save.</description>
    <interviewLabel>Copy Phone Email for MP Duplicate Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Phone Email for MP Duplicate Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Copy_Email</targetReference>
        </connector>
        <filters>
            <field>npe01__WorkEmail__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe01__Preferred_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </filters>
        <filters>
            <field>npe01__WorkPhone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npe01__PreferredPhone__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
