make-a-wish-salesforce/src/flows/Copy_Phone_Email_for_MP_Duplicate_Check.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Null_Recordtype_Match</name>
        <label>Null Recordtype Match</label>
        <locationX>411</locationX>
        <locationY>1023</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordType__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_RecordType_Match</name>
        <label>Set RecordType Match</label>
        <locationX>418</locationX>
        <locationY>883</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medical Professional</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Standard_Email_Field</name>
        <label>Update Standard Email FIeld</label>
        <locationX>421</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>$Record.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npe01__WorkEmail__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Standard_Phone_Field</name>
        <label>Update Standard Phone Field</label>
        <locationX>438</locationX>
        <locationY>520</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.npe01__WorkPhone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_MP_RT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_Email</name>
        <label>Copy Email</label>
        <locationX>167</locationX>
        <locationY>303</locationY>
        <defaultConnector>
            <targetReference>Copy_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.npe01__WorkEmail__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__Preferred_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Standard_Email_Field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_Phone</name>
        <label>Copy Phone</label>
        <locationX>163</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Get_MP_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.npe01__WorkPhone__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npe01__PreferredPhone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Standard_Phone_Field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordTypeMatch</name>
        <label>RecordTypeMatch</label>
        <locationX>158</locationX>
        <locationY>885</locationY>
        <defaultConnectorLabel>No - Blank</defaultConnectorLabel>
        <rules>
            <name>YesMPMatch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MPRTID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RecordType_Match</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Match_Not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>MPRTID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_Recordtype_Match</targetReference>
            </connector>
            <label>No -  Not Blank</label>
        </rules>
    </decisions>
    <description>&apos;Before Save&apos; flow that updates Standard Phone and Email Fields prior to first save.</description>
    <interviewLabel>Copy Phone Email for MP Duplicate Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy Phone Email and RecordType for MP Duplicate Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_MP_RT</name>
        <label>Get MP RT</label>
        <locationX>169</locationX>
        <locationY>723</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordTypeMatch</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Medical Professional</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>MPRTID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Copy_Email</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MPRTID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
