make-a-wish-salesforce/src/flows/Count_MQ_Answers_Provided.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Answer_Count</name>
        <label>Answer Count +1</label>
        <locationX>355</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>AnswerCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Answers</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Count MQ Answers Provided {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count MQ Answers Provided</label>
    <loops>
        <name>Loop_Answers</name>
        <label>Loop Answers</label>
        <locationX>174</locationX>
        <locationY>544</locationY>
        <collectionReference>Get_All_Answers_for_DV_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Answer_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Related_DV</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Answers_for_DV_Record</name>
        <label>Get All Answers for DV Record</label>
        <locationX>177</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Answers</targetReference>
        </connector>
        <filters>
            <field>Diagnosis_Verification__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Diagnosis_Verification__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DiagnosisMedicalQuestions__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_DV</name>
        <label>Update Related DV</label>
        <locationX>172</locationX>
        <locationY>717</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Diagnosis_Verification__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>of_MQ_Answers__c</field>
            <value>
                <elementReference>AnswerCount</elementReference>
            </value>
        </inputAssignments>
        <object>Diagnosis_Verification__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Answers_for_DV_Record</targetReference>
        </connector>
        <filters>
            <field>Diagnosis_Verification__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>DiagnosisMedicalQuestions__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AnswerCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
