make-a-wish-salesforce/src/flows/Count_Lead_Attachments.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_1_to_Count</name>
        <label>Add 1 to Count</label>
        <locationX>389</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>AttachmentCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Lead_Files</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Count Lead Attachments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count Lead Attachments</label>
    <loops>
        <name>Count_Lead_Files</name>
        <label>Count Lead Files</label>
        <locationX>180</locationX>
        <locationY>435</locationY>
        <collectionReference>Get_Lead_Files</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_1_to_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Lead_Attachment_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead_Files</name>
        <label>Get Lead Files</label>
        <locationX>177</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Lead_Files</targetReference>
        </connector>
        <filters>
            <field>cg__Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cg__Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>cg__Content_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Folder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>cg__Lead_File__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Attachment_Count</name>
        <label>Update Lead Attachment Count</label>
        <locationX>178</locationX>
        <locationY>618</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.cg__Lead__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Num_of_Attachments__c</field>
            <value>
                <elementReference>AttachmentCount</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Lead_Files</targetReference>
        </connector>
        <filters>
            <field>cg__Content_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue> Folder</stringValue>
            </value>
        </filters>
        <object>cg__Lead_File__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AttachmentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
