make-a-wish-salesforce/src/flows/DV_Unsigned_Reminder_Emails_1_Day_5_Days_Later.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Intake_Manager_DV_Not_Signed</name>
        <label>Notify Intake Manager DV Not Signed</label>
        <locationX>1949</locationX>
        <locationY>597</locationY>
        <actionName>dsfs__DocuSign_Recipient_Status__c.Send_DV_Signature_Alert_to_Intake_Manager</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Second_Notice_1_Day_Later</name>
        <label>Send 5 Day DV Reminder</label>
        <locationX>1469</locationX>
        <locationY>397</locationY>
        <actionName>dsfs__DocuSign_Recipient_Status__c.Send_DV_Signature_Reminder_to_Medical_Professional_Second</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Lead_DV_Last_Sent_data</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_5_Day_DV_Reminder</name>
        <label>Send 10 Day DV Reminder</label>
        <locationX>1468</locationX>
        <locationY>590</locationY>
        <actionName>dsfs__DocuSign_Recipient_Status__c.Send_DV_Signature_Reminder_to_Medical_Professional_Final</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateDVReminderLastSentDate</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailToday</name>
        <label>SendEmailToday</label>
        <locationX>1468</locationX>
        <locationY>201</locationY>
        <actionName>dsfs__DocuSign_Recipient_Status__c.Send_DV_Signature_Reminder_to_Medical_Professional_First</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Lead_DV_Reminder_Last_Sent_date</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Check_for_Largest_Name_Number</name>
        <label>Check for Largest Name Number</label>
        <locationX>584</locationX>
        <locationY>50</locationY>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>NameisGreatest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NameisGreater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Unsent</targetReference>
            </connector>
            <label>NameisGreatest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Completed_DV</name>
        <label>Is there a Completed DV</label>
        <locationX>849</locationX>
        <locationY>198</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CompletedDVDocusignRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Info</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_Sent_Today_or_Wrong_Status</name>
        <label>Sent Today or Wrong Status</label>
        <locationX>1088</locationX>
        <locationY>200</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Nothankyou</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DVReminderAlreadySent</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>DNQ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LeadStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Sent_Today</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sent_5_Days_Ago</name>
        <label>Sent 10 Days Ago</label>
        <locationX>1225</locationX>
        <locationY>592</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SentDate5DaysAgo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_5_Day_DV_Reminder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Sent_1_Day_Ago</name>
        <label>Was Sent 5 Days Ago</label>
        <locationX>1225</locationX>
        <locationY>399</locationY>
        <defaultConnector>
            <targetReference>Sent_5_Days_Ago</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SentDate1DayAgo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Second_Notice_1_Day_Later</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Sent_Today</name>
        <label>Was Sent Today</label>
        <locationX>1226</locationX>
        <locationY>205</locationY>
        <defaultConnector>
            <targetReference>Was_Sent_1_Day_Ago</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesToday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SentToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailToday</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>A schedule flow that runs once a day.  It looks for DV Sent Dates 5 days ago or 10days ago and sends the alerts at 6pm PST</description>
    <formulas>
        <name>NameisGreater</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Envelope_Number__c} &gt;={!Loop_Unsent.Envelope_Number__c}</expression>
    </formulas>
    <formulas>
        <name>SentDate1DayAgo</name>
        <dataType>Boolean</dataType>
        <expression>IF((DATEVALUE({!$Record.dsfs__Date_Sent__c}) + 1) = {!$Flow.CurrentDate}, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>SentDate5DaysAgo</name>
        <dataType>Boolean</dataType>
        <expression>IF((DATEVALUE({!$Record.dsfs__Date_Sent__c})+2)={!$Flow.CurrentDate}, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>SentToday</name>
        <dataType>Boolean</dataType>
        <expression>IF(DATEVALUE({!$Record.dsfs__Date_Sent__c})={!$Flow.CurrentDate}, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>DV Unsigned Reminder Emails 1 Day &amp; 5 Days Later {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DV &apos;Unsigned&apos; Reminder Emails Same Day, 5 Day Later &amp; 10 Days Later</label>
    <loops>
        <name>Loop_Unsent</name>
        <label>Loop Unsent</label>
        <locationX>590</locationX>
        <locationY>195</locationY>
        <collectionReference>Get_Unsent_Recipient_Status_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_Largest_Name_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Matching_DVs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Lead_Info</name>
        <label>Get Lead Info</label>
        <locationX>986</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Not_Sent_Today_or_Wrong_Status</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>DVReminderAlreadySent</assignToReference>
            <field>DV_Reminder_Last_Sent_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_DVs</name>
        <label>Get Matching Completed DV</label>
        <locationX>754</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Completed_DV</targetReference>
        </connector>
        <filters>
            <field>DV_Form_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>dsfs__Recipient_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>dsfs__DocuSign_Recipient_Status__c</object>
        <outputAssignments>
            <assignToReference>CompletedDVDocusignRecord</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Unsent_Recipient_Status_Records</name>
        <label>Get Unsent Recipient Status Records</label>
        <locationX>480</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Unsent</targetReference>
        </connector>
        <filters>
            <field>DV_Form_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>dsfs__Recipient_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>dsfs__DocuSign_Recipient_Status__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_DV_Last_Sent_data</name>
        <label>Update Lead DV Last Sent data</label>
        <locationX>1698</locationX>
        <locationY>398</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DV_Reminder_Last_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_DV_Reminder_Last_Sent_date</name>
        <label>Update Lead DV Reminder Last Sent date</label>
        <locationX>1701</locationX>
        <locationY>201</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DV_Reminder_Last_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateDVReminderLastSentDate</name>
        <label>Update DV Reminder Last Sent Date</label>
        <locationX>1662</locationX>
        <locationY>571</locationY>
        <connector>
            <targetReference>Notify_Intake_Manager_DV_Not_Signed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DV_Reminder_Last_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>129</locationX>
        <locationY>115</locationY>
        <connector>
            <targetReference>Get_Unsent_Recipient_Status_Records</targetReference>
        </connector>
        <filters>
            <field>DV_Form_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>dsfs__Date_Sent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>dsfs__Date_Sent__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateTimeValue>2020-08-04T07:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <filters>
            <field>dsfs__Date_Signed__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>dsfs__Recipient_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>dsfs__DocuSign_Recipient_Status__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2020-08-04</startDate>
            <startTime>11:54:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CompletedDVDocusignRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DVReminderAlreadySent</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopRecipient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>dsfs__DocuSign_Recipient_Status__c</objectType>
    </variables>
</Flow>
