make-a-wish-salesforce/src/flows/Get_Linked_Treating_MP_for_Lead.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Update_Lead_0</name>
        <label>Update Lead with Treating Email</label>
        <locationX>760</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hidden_Email_Alert_Treating_MP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Treating_MP_Details.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Best_Contact_Email_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Lead_0_0</name>
        <label>Update Lead (No New Phone)</label>
        <locationX>752</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>$Record.Hidden_Email_Alert_Best_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Best_Contact_MP_Details.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Best_Contact_Email_Blank</name>
        <label>Is Best Contact Email Blank?</label>
        <locationX>172</locationX>
        <locationY>698</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Best_Contact_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hidden_Email_Alert_Best_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Best_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Best_Contact_MP_Details</targetReference>
            </connector>
            <label>Yes - Best Contact is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Treating_Email_Blank</name>
        <label>Is Treating Email Blank?</label>
        <locationX>172</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>Is_Best_Contact_Email_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Treating_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hidden_Email_Alert_Treating_MP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Treating_MP__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Treating_MP_Details</targetReference>
            </connector>
            <label>Yes - Treating is Blank</label>
        </rules>
    </decisions>
    <interviewLabel>Get Linked Treating MP for Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Linked Treating or Best Contact MP Email for Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Best_Contact_MP_Details</name>
        <label>Get Best Contact MP Details</label>
        <locationX>439</locationX>
        <locationY>736</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Best_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Treating_MP_Details</name>
        <label>Get Treating MP Details</label>
        <locationX>393</locationX>
        <locationY>346</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Treating_MP__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>53</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Is_Treating_Email_Blank</targetReference>
        </connector>
        <filters>
            <field>Treating_MP__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Best_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
