make-a-wish-salesforce/src/flows/Login_Flow_Scheduled_Maintenance.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Force_Logout</name>
        <label>Force Logout</label>
        <locationX>440</locationX>
        <locationY>187</locationY>
        <assignmentItems>
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>User_Lockout</name>
        <label>User Lockout?</label>
        <locationX>296</locationX>
        <locationY>187</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaintenanceAlert_isActiveLockout_formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Force_Logout</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MaintenanceAlert_isActiveLockout_formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <description>Flow for use with profile-based login flows to either show upcoming maintenance alert notification prior to deployment or, prevent the user from logging into the system during the deployment window. For use with the MaintenanceAlert Custom Setting.</description>
    <formulas>
        <name>LinktoGalaxyFormula</name>
        <dataType>String</dataType>
        <expression>IF({!MaintenanceAlert_isActiveLockout_formula},IF({!$User.ProfileId}={!fullAccessNatStaff_ProfileId},&apos;&apos;,{!ForUpdatesOnProgressFollowThisLink_template}),&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>MaintenanceAlert_Body1_formula</name>
        <dataType>String</dataType>
        <expression>{!$Setup.MaintenanceAlert__c.Body_1__c}</expression>
    </formulas>
    <formulas>
        <name>MaintenanceAlert_Body2_formula</name>
        <dataType>String</dataType>
        <expression>{!$Setup.MaintenanceAlert__c.Body_2__c}</expression>
    </formulas>
    <formulas>
        <name>MaintenanceAlert_Header1_formula</name>
        <dataType>String</dataType>
        <expression>{!$Setup.MaintenanceAlert__c.Header_1__c}</expression>
    </formulas>
    <formulas>
        <name>MaintenanceAlert_Header2_formula</name>
        <dataType>String</dataType>
        <expression>{!$Setup.MaintenanceAlert__c.Header_2__c}</expression>
    </formulas>
    <formulas>
        <name>MaintenanceAlert_isActiveLockout_formula</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.MaintenanceAlert__c.isActiveLockout__c}</expression>
    </formulas>
    <interviewLabel>Login Flow_Scheduled Maintenance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Login Flow_Scheduled Maintenance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>182</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>System_Alert</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>System_Alert</name>
        <label>System Alert</label>
        <locationX>304</locationX>
        <locationY>50</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Lockout</targetReference>
        </connector>
        <fields>
            <name>MaintenanceAlert_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(220, 20, 60); font-size: 14px;&quot;&gt;&lt;u&gt;{!MaintenanceAlert_Header1_formula}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(220, 20, 60); font-size: 14px;&quot;&gt;{!MaintenanceAlert_Header2_formula}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿{!MaintenanceAlert_Body1_formula}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!MaintenanceAlert_Body2_formula}{!LinktoGalaxyFormula}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>ForUpdatesOnProgressFollowThisLink_template</name>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;For updates on the maintenance progress, follow&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; &lt;/b&gt;&lt;a href=&quot;https://makeawish.workplace.com/groups/galaxyinitiative/&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;this&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; link.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Holds 18 charac digit profile id for the full access national staff.</description>
        <name>fullAccessNatStaff_ProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00e36000000HGpIAAW</stringValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_ForceLogout</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
