make-a-wish-salesforce/src/flows/Manual_DV_Reminder.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Respondent_Alert</name>
        <label>New Respondent Alert</label>
        <locationX>685</locationX>
        <locationY>237</locationY>
        <actionName>Lead.Lead_Incomplete_Diagnosis_Verification_7_Day_Reminder_New_Respondent</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_DV_Reminder_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Wrong_Status_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Original_Recipient_Alert</name>
        <label>Original Recipient Alert</label>
        <locationX>681</locationX>
        <locationY>428</locationY>
        <actionName>Lead.Lead_Incomplete_Diagnosis_Verification_7_Day_Reminder_Original_Recipient</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_DV_Reminder_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Wrong_Status_0</targetReference>
        </faultConnector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Has_a_DV_Been_Sent</name>
        <label>A DV Been Sent Electronically?</label>
        <locationX>249</locationX>
        <locationY>331</locationY>
        <defaultConnector>
            <targetReference>Which_Warning_Screen_to_Display</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Part_A_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Using_Paper_Process_For_DV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Diagnosis Verification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manual_DV_Reminder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Email_should_be_used</name>
        <label>Which email should be used?</label>
        <locationX>470</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Original_Recipient_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Original Recipient</defaultConnectorLabel>
        <rules>
            <name>New_DV_Signer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.DV_Signer_Changed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.DV_Signer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Respondent_Alert</targetReference>
            </connector>
            <label>New DV Signer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Warning_Screen_to_Display</name>
        <label>Which Warning Screen to Display</label>
        <locationX>248</locationX>
        <locationY>500</locationY>
        <defaultConnector>
            <targetReference>Wrong_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Paper_DV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Using_Paper_Process_For_DV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PaperDV</targetReference>
            </connector>
            <label>Paper DV</label>
        </rules>
    </decisions>
    <formulas>
        <name>DaysSinceSend</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDate} - {!Get_Lead.Part_A_Sent__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Manual DV Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manual DV Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>257</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_a_DV_Been_Sent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_DV_Reminder_Date</name>
        <label>Update DV Reminder Date</label>
        <locationX>867</locationX>
        <locationY>327</locationY>
        <faultConnector>
            <targetReference>Wrong_Status_0</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DV_Reminder_Last_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <name>Manual_DV_Reminder</name>
        <label>Manual DV Reminder</label>
        <locationX>377</locationX>
        <locationY>333</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Email_should_be_used</targetReference>
        </connector>
        <fields>
            <name>ConfirmationText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please click &apos;&lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(13, 79, 166);&quot;&gt;Next&lt;/b&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&apos; to send the DV Reminder Email.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Last DV Sent Date: &lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Lead.Part_A_Sent__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;DV Status: &lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Lead.DV_Status__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;WARNING: &lt;/b&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;A DV Reminder Email was already sent on {!Get_Lead.DV_Reminder_Last_Sent_Date__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Lead.DV_Reminder_Last_Sent_Date__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PaperDV</name>
        <label>PaperDV</label>
        <locationX>50</locationX>
        <locationY>498</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PaperDVWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;You cannot send a DV Reminder Email to a lead using the Paper DV process.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wrong_Status</name>
        <label>Wrong Status</label>
        <locationX>253</locationX>
        <locationY>716</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>StatusWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;You can only send a DV Reminder Email on a lead with a Sub-Status of &quot;Pending Diagnosis Verification&quot;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wrong_Status_0</name>
        <label>DVFault</label>
        <locationX>1259</locationX>
        <locationY>325</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>StatusWarning_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;Oops! The system encountered an unexpected error.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Please provide the following information to the system administrator:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Lead ID: &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!recordId}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Error Message: &lt;/b&gt;&lt;i style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>134</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
