make-a-wish-salesforce/src/flows/RecordType_for_HTF_Duplicate_Check.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Remove_Recordtype_Matching</name>
        <label>Remove Recordtype Matching</label>
        <locationX>361</locationX>
        <locationY>580</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordType_Matching__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Recordtype_Matching</name>
        <label>Set Recordtype Matching</label>
        <locationX>365</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordType_Matching__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HTF</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_RT_an_HTF</name>
        <label>Is RT an HTF</label>
        <locationX>163</locationX>
        <locationY>430</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HTF_RT_ID.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Recordtype_Matching</targetReference>
            </connector>
            <label>Yes - New</label>
        </rules>
        <rules>
            <name>No_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_HTF_RT_ID.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType_Matching__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HTF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Recordtype_Matching</targetReference>
            </connector>
            <label>No - Changed</label>
        </rules>
    </decisions>
    <interviewLabel>RecordType for HTF Duplicate Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RecordType for HTF Duplicate Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_HTF_RT_ID</name>
        <label>Get HTF RT ID</label>
        <locationX>173</locationX>
        <locationY>298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_RT_an_HTF</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hospital_Treatment_Facility</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_HTF_RT_ID</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
