make-a-wish-salesforce/src/flows/Update_Wish_Change_Requests.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssignUpdatedWCR</name>
        <label>AssignUpdatedWCR</label>
        <locationX>592</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>UpdatedWCRs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelectedWCR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignUpdatedWCR_0</name>
        <label>AssignStatus</label>
        <locationX>423</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>SelectedWCR.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Action</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignUpdatedWCR</targetReference>
        </connector>
    </assignments>
    <description>Added as a conditionally displayed component in the Wish Case Lightning Page, allows a user to approve/reject Wish Change Requests.</description>
    <dynamicChoiceSets>
        <name>StatusPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Wish_Change_Request__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Update Wish Change Requests {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Wish Change Requests</label>
    <loops>
        <name>LoopSelected</name>
        <label>LoopSelected</label>
        <locationX>422</locationX>
        <locationY>215</locationY>
        <assignNextValueToReference>SelectedWCR</assignNextValueToReference>
        <collectionReference>SelectedWCRs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignUpdatedWCR_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_WCRs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Proposed_WCRs</name>
        <label>Get Proposed WCRs</label>
        <locationX>159</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ConfirmScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handling</targetReference>
        </faultConnector>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Wish_Case_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Wish_Change_Request__c</object>
        <outputReference>ProposedWCRs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Field_API_Name_for_Proposed_Change__c</queriedFields>
        <queriedFields>Field_Label_for_Proposed_Change__c</queriedFields>
        <queriedFields>Field_New_Value__c</queriedFields>
        <queriedFields>Field_Previous_Value__c</queriedFields>
        <queriedFields>Record_Name__c</queriedFields>
        <queriedFields>Wish_Affiliated_Contact_Name_Text__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_WCRs</name>
        <label>Update WCRs</label>
        <locationX>743</locationX>
        <locationY>213</locationY>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Handling</targetReference>
        </faultConnector>
        <inputReference>UpdatedWCRs</inputReference>
    </recordUpdates>
    <screens>
        <name>ConfirmScreen</name>
        <label>ConfirmScreen</label>
        <locationX>288</locationX>
        <locationY>215</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LoopSelected</targetReference>
        </connector>
        <fields>
            <name>Description</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Pending change requests for this Wish:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Table</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mydata_custom1</name>
                <value>
                    <elementReference>ProposedWCRs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Field_Previous_Value__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Previous Value</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Field_Label_for_Proposed_Change__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Field_New_Value__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>New Value</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>Wish_Affiliated_Contact_Name_Text__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Contact Name</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedWCRs</assignToReference>
                <name>selectedRows_custom1</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Spacing</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Action</name>
            <choiceReferences>StatusPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose a Status to apply to the selected rows:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Handling</name>
        <label>Error Handling</label>
        <locationX>167</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorDisplay</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Oops! Something went wrong.&lt;/b&gt;  &lt;/p&gt;&lt;p&gt;Please provide the following to your system administrator:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Message: {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;Record Id: {!recordId}&lt;/p&gt;&lt;p&gt;Flow: Update Wish Change Requests&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>910</locationX>
        <locationY>213</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Success!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!Count} record(s) updated to Status = {!Select_Action}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>44</locationX>
        <locationY>215</locationY>
        <connector>
            <targetReference>Get_Proposed_WCRs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ProposedWCRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Wish_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedWCR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Wish_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>SelectedWCRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Wish_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>UpdatedWCRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Wish_Change_Request__c</objectType>
    </variables>
</Flow>
