make-a-wish-salesforce/src/flows/X7_Day_DV_Reminder_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Respondent_Alert</name>
        <label>New Respondent Alert</label>
        <locationX>601</locationX>
        <locationY>237</locationY>
        <actionName>Lead.Lead_Incomplete_Diagnosis_Verification_7_Day_Reminder_New_Respondent</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_DV_Reminder_Date</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Original_Recipient_Alert</name>
        <label>Original Recipient Alert</label>
        <locationX>597</locationX>
        <locationY>428</locationY>
        <actionName>Lead.Lead_Incomplete_Diagnosis_Verification_7_Day_Reminder_Original_Recipient</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_DV_Reminder_Date</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Has_it_been_7_days</name>
        <label>Has it been 7 days?</label>
        <locationX>168</locationX>
        <locationY>318</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysSinceSend</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Email_should_be_used</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Email_should_be_used</name>
        <label>Which email should be used?</label>
        <locationX>356</locationX>
        <locationY>319</locationY>
        <defaultConnector>
            <targetReference>Original_Recipient_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Original Recipient</defaultConnectorLabel>
        <rules>
            <name>New_DV_Signer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DV_Signer_Changed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DV_Signer_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Respondent_Alert</targetReference>
            </connector>
            <label>New DV Signer</label>
        </rules>
    </decisions>
    <description>Daily scheduled flow that fires the DV reminder email for sent DVs that have not been completed after 7 days</description>
    <formulas>
        <name>DaysSinceSend</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDate} - {!$Record.Part_A_Sent__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Email_Recipient</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!$Record.DV_Signer_Email__c}), {!$Record.HiddenMedicalProfessionalEmail__c}, {!$Record.DV_Signer_Email__c})</expression>
    </formulas>
    <interviewLabel>7 Day DV Reminder Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>7 Day DV Reminder Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_DV_Reminder_Date</name>
        <label>Update DV Reminder Date</label>
        <locationX>783</locationX>
        <locationY>327</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DV_Reminder_Last_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Has_it_been_7_days</targetReference>
        </connector>
        <filters>
            <field>Part_A_Sent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Part_A_Received__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-02-23</startDate>
            <startTime>15:42:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
